<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/index.css"> -->
	<link href="//fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- //online-fonts -->
		<script src="js/jquery.min.js"></script>
	  <script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>	

	<script type="text/javascript">
if(localStorage.getItem("Code") == null){
	window.location.href = "login.html";
}
</script>
<style type="text/css">
	body{
		 background:url(../images/maxresdefault.jpg);
	}
</style>

</head>
<body>
		<div id="loading" class="loader">	
	</div>
<div ng-app="myApp" ng-controller="UserDetails">
	<div class="btn-group btn-group-justified">
		<a href="#" class="btn btn-primary active"><i class="fa-home fa fa-3x"></i></a>
		<a href="MakeComplain.html" class="btn btn-primary"><i class="fa-plus fa fa-3x"></i></a>
		<a href="TrackComplain.html" class="btn btn-primary"><i class="fa-road fa fa-3x"></i></a>
		<a href="" class="btn btn-primary"  ng-click="LogOut()"><i class="fa-power-off fa fa-3x"></i></a>
		<a href="ChangePassword.html" class="btn btn-primary"><i class="fa-cog fa fa-3x"></i></a>

	</div>

	<div class=" text-center">
		<div style="margin: 5px;">
			
				<div class="bs-component">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">User Details</h3>
							<br>
							<p>{{ today | date : "fullDate"}}</p>
						</div>
						<div class="panel-body" style="background:url(images/maxresdefault.jpg);">
							<div class="text-center">
								<img src="img/logo.png"  width="70px">
							</div>
							<br><br>
							<table class="table" style="font-weight: bold;" ng-repeat="x in details">
								
								<tr>
									<td>Name</td>
									<td>{{ x.Name }}</td>
								</tr>
								<tr>
									<td>Control No</td>
									<td>{{ x.ControlNo }}</td>
								</tr>
								<tr >
									<td>Ticket No</td>
									<td>{{ x.TicketNo }}</td>
								</tr>
								<tr >
									<td>Quarter No</td>
									<td>{{ x.QuarterNo }}</td>
								</tr>
								<tr>
									<td>Street No</td>
									<td>{{ x.StreetNo }}</td>
								</tr>
								<tr>
									<td>Area Name</td>
									<td>{{ x.AreaName }}</td>
								</tr>
							</table>
						</div>
					</div>

				</div>


			
		</div>
	</div>

	<script>
		var app = angular.module('myApp', []);
		app.controller('UserDetails', function($scope, $http) {
		 $scope.today = new Date();
			var q = "select ControlNo,tblStaffMaster.Name,Mobileno,TicketNo,QuarterNo,StreetNo,tblQuarter.Code,tblArea.Name as AreaName from tblStaffMaster inner join tblQuarter on tblStaffMaster.Code = tblQuarter.Staffid inner join tblArea on tblArea.Code = tblQuarter.AreaID where tblQuarter.Status = 1 and tblStaffMaster.Code = "+localStorage.getItem("Code");
			$http.get(localStorage.getItem("serverpath")+"staffdata.php?Code=execute&q="+q)
			.then(function (response) {
				$scope.details = response.data.result; 
				localStorage.setItem("quaterid",response.data.result[0].Code);
					
				});

			 $scope.LogOut = function () {
				 localStorage.removeItem("Code");
				 localStorage.removeItem("IsVerified");
				 window.location.href= "login.html";
   			 }
		});
	</script>

<script type="text/javascript" src="js/sc_index.js"></script>
</div>
</body>
</html>