
<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Submit OTP</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Portrait Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<title>Test</title>
	<style>
	table, th , td  {
		border: 1px solid grey;
		border-collapse: collapse;
		padding: 5px;
	}
	table tr:nth-child(odd) {
		background-color: #f1f1f1;
	}
	table tr:nth-child(even) {
		background-color: #ffffff;
	}
</style>
<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!-- Style-CSS -->
<link rel="stylesheet" href="css/font-awesome.css">
<!-- 	<link rel="stylesheet" href="css/ak.css"> -->
<!-- Font-Awesome-Icons-CSS -->
<link rel="stylesheet" type="text/css" href="css/index.css">
<!-- //css files -->
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<!-- //online-fonts -->
<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>

<!--  <script src="js/jquery.js" type="text/javascript"></script> -->
<script type="text/javascript">
if(localStorage.getItem("otpcode") == null){
	window.location.href = "Verify.html";
}
</script>
</head>

<body>
	<!--header-->
	<div id="loading" class="loader">	
	</div>
	<div ng-app="myApp"  ng-controller="RecordCtrl">
		<div class="header-w3l">
			<h1 style="font-size: 1.5em;font-family: garmond;">
				<span>T</span>elecommunication  <br>
				<span>C</span>omplaint 
				<span>A</span>pp</h1>
			</div>
			<!--//header-->
			<div class="main-content-agile">
				<div class="sub-main-w3">
					<img src="img/logo.png" style="width:50%;" alt="" />
					<h2>Enter OTP</h2>

					<div class="pom-agile">
						<span class="fa fa-undo" aria-hidden="true" ng-click="resend()"></span>
						<input placeholder="OTP" name="OTP" class="user" maxlength="4" ng-model="otpno" type="text" required="">
					</div>
				
						<div>
						<span style="color:white;">{{ error }}</span>
						</div>
				<!-- 	<div class="sub-w3l">
						<div class="sub-agile">
							<input type="checkbox" id="brand1" value="">
							<label for="brand1">
								<span></span>Remember me</label>
							</div>
							<div class="clear"></div>
						</div> -->
						<div class="right-w3l">
							<input type="button" value="Verify"  ng-click="Verify()">
						</div>
					<div class="forgot-w3l">
							<a href="login.html"><i class="fa fa-power-off"></i> Login Here</a>
						</div>

					</div>
				</div>
			</div>
			<!--//main--> 

<script>
	var app = angular.module('myApp', []);
	app.controller('RecordCtrl', function ($scope, $http) {
  

    $scope.resend = function () {
    	var otpcode  = Math.floor(Math.random() * 9999);
		var msg = "Your New OTP and Password is : "+otpcode+" . You can change your password after login !";
		 http = "http://bulksms.infinityservices.info/sendSMS?username=minisoftsol&message="+msg+"&sendername=CLWCPH&smstype=TRANS&numbers="+localStorage.getItem("Mobileno")+"&apikey=d5660e79-2381-4ef3-bda7-7d48a5f6753c";
		  $http.get(http)
            .then(function (response) {
            	//	alert(response.data[0].msgid);
            	//$scope.names = response.data.d; 
            	if(response.data[0].responseCode.includes("SuccessFully")){
            		localStorage.setItem("otpcode",otpcode);
             		$scope.error = "OTP Sent!";
            	}
            	else
            	{
            		$scope.error = response.data[0].responseCode;
            	}
            });
    }
    $scope.Verify = function () {
	
		var otpcode = localStorage.getItem("otpcode");
		if(otpcode == $scope.otpno)
		{
		var q = "exec sp_VerifyMobile '"+localStorage.getItem("Mobileno")+"','"+otpcode+"', '"+localStorage.getItem("Controlno")+"'";
	
			$http.get(localStorage.getItem("serverpath")+"staffdata.php?Code=execute&q="+q)
            .then(function (response) {
            	$scope.error = response.data.result[0].Msg;
            	if(response.data.result[0].Code != 0)
            	{
            		window.setTimeout(function(){
            		localStorage.setItem("IsVerified",1);
            		localStorage.setItem("Code",response.data.result[0].Code);
		            localStorage.removeItem("otpcode");
	      		    window.location.href = "ChangePassword.html";
   				    }, 3000);
            	}
            	
            	
            });
			//  $http.get(localStorage.getItem("serverpath")+"staffdata.php?Code=execute&q="+q);
			
          //  	localStorage.setItem("IsVerified",1);
		 //   localStorage.removeItem("otpcode");
		// window.location.href = "login.html";
		}
		else
		{
			$scope.error = "Invalid OTP!";
		}
    }
    
});

</script>
<script type="text/javascript" src="js/sc_index.js"></script>
<!--footer-->
<div class="footer">
	<p style="margin-bottom: 10px;">© 2018  Chittaranjan Locomotive Works .<br> All Rights Reserved . Design by <a href="http://www.minisoftsolution.com/" target="_blank" style="color:white;">MiniSoft Solution</a></p>
</div>
<!--//footer-->
</body>
</html>